@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #4d4d4d;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.navbar .logo {
    width: 100px;
    grid-column: 1 / 2;
}

.navbar .menu {
    grid-column: 2 / 8;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.navbar .menu li {
    list-style: none;
}

.navbar .menu a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    transition: all 1s;
}

.navbar .menu a:hover {
    color: #000;
}

/* MAIN */

.hero {
    height: 80vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(../multimedia/bad-bg.jpg);
    background-size: cover;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.hero .info-content {
    grid-column: 2 / 4;
    grid-row: 3 / 7;
    color: #fff;
}

.hero h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

.hero h1 {
    font-size: 5em;
}

.hero p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* FOOTER */

.footer {
    display: grid;
    height: 90px;
    align-items: center;
    background-color: #4d4d4d;
    color: #fff;
    grid-template-areas: 
    "listen-online follow-me social-network";
}

.footer .listen-online {
    grid-area: listen-online;
    display: flex;
    justify-content: center;
    padding: 26px;
}

.footer .listen-online .fa-solid {
    font-size: 1.5em;
    margin-right: 15px;
    color: #fff;
    cursor: pointer;
    transition: all 1s;
}

.footer .listen-online .hear-now {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}

.footer .listen-online .hear-now:hover {
    color: #000;
}

.footer .listen-online .fa-solid:hover {
    color: #000;
}

.footer .follow-me {
    grid-area: follow-me;
    text-align: center;
}

.footer .social-network {
    grid-area: social-network;
    font-size: 1.3em;
}

.footer .social-network .fa-brands {
    margin-right: 15px;
    color: #fff;
    cursor: pointer;
    transition: all 1s;
}

.footer .social-network .fa-brands:hover {
    color: #000;
}

/* MAIN CONCERT */

.hero-concert {
    height: 80vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(../multimedia/bad-bg2.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    color: #fff;
}

.hero-concert__info-content {
    grid-column: 1 / 6;
    grid-row: 2 / 8;
}

.hero-concert__image {
    grid-column: 6 / 10;
    grid-row: 2 / 8;
    align-self: center;
    justify-self: center;
}

.hero-concert__image img {
    align-items: center;
    width: 400px;
    margin-left: 50px;
}

.hero-concert__info-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.hero-concert__info-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: justify;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 0.9em;
}

/* MAIN CONTACT */

.hero-contact {
    height: 80vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(../multimedia/bad-bg2.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    color: #fff;
}

.hero-contact__info-content {
    grid-column: 5 / 7;
    grid-row: 3 / 6;
}

.hero-contact h2 {
    grid-column: 4 / 8;
    grid-row: 1 / 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}

.hero-contact h3 {
    grid-column: 4 / 8;
    grid-row: 2 / 3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
}

input, textarea, select, button {
    width : 300px;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN DISCOGRAFIA */

.hero-discografia {
    height: 80vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(../multimedia/bad-bg2.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    color: #fff;
}

.hero-discografia h3 {
    grid-column: 4 / 8;
    grid-row: 2 / 3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
}

.hero-discografia__info-content {
    grid-column: 1 / 11;
    grid-row: 3 / 8;
    align-self: center;
    justify-self: center;
}

.hero-discografia__info-content .albumes {
    width: 250px;
    height: 300px;
    margin-right: 10px;
}

/* MAIN GALLERY */

.image-grid {
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(../multimedia/bad-bg2.jpg);
    background-size: cover;
    max-width: 100%;
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
grid-row: span 2;
}