@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,500&display=swap");
.navbar {
  background-color: #4d4d4d !important;
}
.navbar .nav-link {
  color: #fff !important;
}
.navbar .logo {
  width: 100px;
}

/*MAIN BODY*/
.hero {
  height: 80vh;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../multimedia/bad-bg.jpg);
  background-size: cover;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.hero h1 {
  font-size: 5em;
}
.hero h3 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.5em;
  font-weight: 300;
}
.hero p {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
}
.hero .info-content {
  grid-column: 2/4;
  grid-row: 3/7;
  color: #fff;
}

/*MAIN CONCERT*/
.hero-concert {
  height: 80vh;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../multimedia/bad-bg2.jpg);
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  color: #fff;
}
.hero-concert .hero-concert__image {
  grid-column: 6/10;
  grid-row: 2/8;
  align-self: center;
  justify-self: center;
}
.hero-concert .hero-concert__image img {
  align-items: center;
  width: 400px;
  margin-left: 50px;
}
.hero-concert .hero-concert__info-content {
  grid-column: 1/6;
  grid-row: 2/8;
}
.hero-concert .hero-concert__info-content h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}
.hero-concert .hero-concert__info-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: justify;
  align-items: center;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 0.8em;
}

/* MAIN CONTACT */
.hero-contact {
  height: 80vh;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../multimedia/bad-bg2.jpg);
  background-size: cover;
  max-width: 100%;
}

.form-label {
  color: #fff;
}

.mb-3 {
  padding: 40px 50px 20px;
}

/* MAIN DISCOGRAFIA */
.hero-discografia {
  height: 80vh;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../multimedia/bad-bg2.jpg);
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  color: #fff;
}
.hero-discografia .hero-discografia__info-content {
  grid-column: 1/11;
  grid-row: 3/8;
  align-self: center;
  justify-self: center;
}
.hero-discografia .hero-discografia__info-content .albumes {
  width: 250px;
  height: 300px;
  margin-right: 10px;
}
.hero-discografia h3 {
  grid-column: 4/8;
  grid-row: 2/3;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
}

/* MAIN GALLERY */
.image-grid {
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../multimedia/bad-bg2.jpg);
  background-size: cover;
  max-width: 100%;
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;
  box-sizing: border-box;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
.image-grid .image-grid-col-2 {
  grid-column: span 2;
}
.image-grid .image-grid-row-2 {
  grid-row: span 2;
}
.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  height: 90px;
  align-items: center;
  background-color: #4d4d4d;
  color: #fff;
  grid-template-areas: "listen-online follow-me social-network";
}
.footer .social-network {
  grid-area: social-network;
  font-size: 1.3em;
}
.footer .social-network .fa-brands {
  margin-right: 15px;
  color: #fff;
  cursor: pointer;
  transition: all 1s;
}
.footer .social-network .fa-brands:hover {
  color: #bababa;
}
.footer .follow-me {
  grid-area: follow-me;
  text-align: center;
}
.footer .follow-me h2 {
  font-size: 1.5em;
}
.footer .listen-online {
  grid-area: listen-online;
  display: flex;
  justify-content: center;
  padding: 26px;
}
.footer .listen-online h2 {
  font-size: 1.5em;
}
.footer .listen-online .fa-solid {
  font-size: 1.5em;
  margin-right: 15px;
  color: #fff;
  cursor: pointer;
  transition: all 1s;
}
.footer .listen-online .fa-solid:hover {
  color: #bababa;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}
@media screen and (max-width: 900px) {
  .hero-concert .hero-concert__info-content p {
    font-size: 13px;
  }
  .hero-concert .hero-concert__image img {
    align-items: center;
    width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .navbar .logo {
    width: 100px;
    grid-column: 1/2;
  }
  .navbar .menu {
    grid-column: 2/8;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
  }

  .hero-concert .hero-concert__info-content h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  .hero-concert .hero-concert__info-content p {
    font-size: 10px;
  }
  .hero-concert .hero-concert__image img {
    align-items: center;
    width: 250px;
  }

  .footer .listen-online h2 {
    display: none;
  }
  .footer .follow-me h2 {
    display: none;
  }

  /*MAIN DISCOGRAPHY*/
  .hero-discografia h3 {
    font-size: 1.3em;
  }
  .hero-discografia .hero-discografia__info-content .albumes {
    width: 180px;
    height: 230px;
    margin-right: 10px;
  }

  .hero-contact__info-content {
    grid-column: 4/6;
    grid-row: 3/6;
  }
}
@media screen and (max-width: 580px) {
  .hero-concert .hero-concert__info-content h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  .hero-concert .hero-concert__info-content p {
    font-size: 9px;
  }
  .hero-concert .hero-concert__image img {
    align-items: center;
    width: 210px;
  }

  .hero-discografia .hero-discografia__info-content .albumes {
    width: 130px;
    height: 190px;
    margin-right: 10px;
  }

  .hero {
    height: 80vh;
    background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../multimedia/bad-bg3);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .hero .info-content p {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .hero-concert .hero-concert__info-content h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    font-weight: 900;
    text-align: center;
    margin-left: 10px;
  }
  .hero-concert .hero-concert__info-content p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: justify;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 8px;
  }
  .hero-concert .hero-concert__image img {
    align-items: center;
    width: 150px;
  }
}
@media screen and (max-width: 320px) {
  .hero-concert .hero-concert__info-content h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  .hero-concert .hero-concert__info-content p {
    font-size: 7px;
  }
  .hero-concert .hero-concert__image img {
    align-items: center;
    width: 100px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif !important;
}

/*# sourceMappingURL=styles.css.map */
