/*MAIN BODY*/

.hero {
    height: 80vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(../multimedia/bad-bg.jpg);
    background-size: cover;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    h1 {
        font-size: 5em;
    }
    h3 {
        font-family: 'Montserrat', sans-serif !important;
        font-size: map-get($font,font-size);
        font-weight: 300;
    }
    p {
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 300;
    }
    .info-content {
        grid-column: 2 / 4;
        grid-row: 3 / 7;
        color: #fff;
    }
}

/*MAIN CONCERT*/

.hero-concert {
    height: 80vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(../multimedia/bad-bg2.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    color: #fff;
    .hero-concert__image {
        grid-column: 6 / 10;
        grid-row: 2 / 8;
        align-self: center;
        justify-self: center;
        img {
            align-items: center;
            width: 400px;
            margin-left: 50px;
        }
    }
    .hero-concert__info-content {
        grid-column: 1 / 6;
        grid-row: 2 / 8;
        h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: map-get($font,font-size);
            font-weight: map-get($font,font-weight);
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            text-align: justify;
            align-items: center;
            margin-left: 20px;
            margin-top: 30px;
            font-size: 0.8em;
        }
    }
}

/* MAIN CONTACT */

.hero-contact {
    height: 80vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(../multimedia/bad-bg2.jpg);
    background-size: cover;
    max-width: 100%;
}

.form-label {
    color: #fff;
}

.mb-3 {
    padding: 40px 50px 20px;
}

/* MAIN DISCOGRAFIA */

.hero-discografia {
    @extend.hero-concert;
    .hero-discografia__info-content {
        grid-column: 1 / 11;
        grid-row: 3 / 8;
        align-self: center;
        justify-self: center;
        .albumes {
            @include sizes (250px,300px,10px)
        }
    }
    h3 {
        grid-column: 4 / 8;
        grid-row: 2 / 3;
        font-family: 'Montserrat', sans-serif;
        font-size: map-get($font,font-size);
        font-weight: map-get($font,font-weight);
        text-align: center;
    }
}

/* MAIN GALLERY */

.image-grid {
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(../multimedia/bad-bg2.jpg);
    background-size: cover;
    max-width: 100%;
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    .image-grid-col-2 {
        grid-column: span 2;
    }
    .image-grid-row-2 {
        grid-row: span 2;
        }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}